<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hello Vue2!</title> 
    <link rel="stylesheet" href="css/base.css" type="text/css" media="all"></link>
		<script src="js/Framework/vue.js"></script>
    </head>
    <body>
    	<div id="app">
				<h1>{{msg}}</h1>
				<input v-model="task" v-on:keyup.enter="handleKeyup" type="text" placeholder="Please input a task">
				<ul>
					<my-li title="a"></my-li>
					<my-li title="b"></my-li>
					<my-li title="c"></my-li>
					<my-li title="d"></my-li>
					<!-- 
					<li v-for="(li, i) in list">
						{{li}} <button v-on:click="handleClick(i)">X</button>
					</li> 
					-->
				</ul>
			</div>
      <script>
				Vue.component('my-li', {
					props: ['title'],
					template:
						<li>{{title}}</li>
				})
				var vm = new Vue({
					el: '#app',
					data: {
						msg: 'Hello, Vue!',
						task: '',
						list: []
					},
					methods: {
						handleKeyup() {
							this.list.push(this.task)
							this.task = ''
						},
						handleClick(i) {
							this.list.splice(i, 1)
						}
					}
				})
			</script>
    </body>
</html>